{{define "subject"}} Din RMA sag (#{{.ID}}) er nu registreret {{end}}

{{define "body"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Kære {{.Sender.Name}},</p>
  <p>Tak for din henvendelse! Din RMA sag ({{.ID}}) er nu registreret i vores system.</p>
  <p>Du kan følge din RMA sag på linket nedenunder, så du altid kan være opdateret på forløbet.</p>
  <p><a href="https://rma.anvi.dev/sager/{{.ID}}">Følg din RMA sag</a></p>

  <p>Med venlig hilsen</p>
  <p>Skancode /AS</p>
</body>

</html>

{{end}}
